.footer {
  position: relative;
  background-color: #0a2850;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin: 0 80px auto;
  z-index: 2;
}
.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 2;
}
.footer__circle {
  position: absolute;
  border-radius: 50%;
  left: -44px;
  top: -128px;
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  z-index: 1;
}
.footer__list {
  list-style-type: none;
}
.footer__list-item {
  margin-top: 16px;
}
.footer__social-heading {
  margin: 0 0 20px 0;
  font-family: "Inter";

  font-style: normal;

  font-weight: bold;

  font-size: 16px;

  line-height: 20px;
  color: white;
}
.footer__social-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  column-gap: 10px;
  font-family: "Inter";

  font-style: normal;

  font-weight: normal;

  font-size: 16px;

  line-height: 20px;
  color: white;
}
.footer__social-link:hover {
  color: #c1c1c1;
}
.footer__copyright {
  margin: 108px 0px 0px 80px;
  padding-bottom: 60px;
  font-family: "Inter";

  font-style: normal;

  font-weight: normal;

  font-size: 16px;

  line-height: 20px;
  color: white;
  z-index: 3;
}
