.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-position: center;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  height: 39px;
  width: 105px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 183px;
}
.nav__link {
  font-family: "Inter";

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;

  text-decoration: none;

  color: #000000;
}
.nav__links {
  display: flex;
  margin-top: 30px;
  margin-right: 80px;
  padding: 0px;
  list-style-type: none;
  column-gap: 20px;
}
.header__title {
  max-width: 709px;
  margin-left: 80px;
  margin-bottom: 28px;

  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 58px;

  line-height: 72px;

  letter-spacing: 1px;
}
.header__span-accent {
  font-family: "Noto Serif";

  font-style: italic;

  font-weight: normal;

  font-size: 58px;

  line-height: 72px;

  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  margin: 0;
  margin-left: 80px;
  font-family: "Noto Serif";

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
}
.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: flex-end;
}
.header__schedule {
  padding: 0px;
  margin-left: 80px;
  margin-bottom: 40px;
  margin-top: 0px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;

  color: #838383;
}
.header__paragraph {
  margin: 0px;
}
.header__address {
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 40px;
  margin-right: 80px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;

  color: #838383;
}
.recipes {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-position: center;
  background-color: #0a2750;
  height: 100vh;
}
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 44px;

  line-height: 52px;
  color: #ffffff;
}
.recipes__subtitle {
  margin-left: 80px;
  margin-top: 24px;
  margin-bottom: 80px;
  max-width: 438px;
  font-family: "Noto Serif";

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
  color: #ffffff;
}
.recipes__videos {
  display: flex;
  column-gap: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 215px;
}
.recipes__video-item {
  width: 560px;
  height: 315px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 20px;

  line-height: 30px;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
.recipes__video-caption-item {
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 20px;

  line-height: 30px;
  color: #ffffff;
}
.reservation {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #d9e7ff;
  height: 100vh;
}
.reservation__title {
  padding-top: 100px;
  margin: 0 auto 80px;
  font-family: Inter;

  font-style: normal;

  font-weight: 500;

  font-size: 44px;

  line-height: 52px;
}
.reservation__form {
  margin-right: auto;
  margin-left: auto;
  max-width: 385px;
}
.reservation__input-container {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 120px;
}
.form__item {
  border-radius: 4px;
  font-family: Inter;

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
}
.form__label {
  font-family: Inter;

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;
}
.form__item_el_nombre {
  margin-top: 8px;
  margin-bottom: 32px;
}
.form__item_el_numero-de-comensales {
  height: 60px;
  margin-bottom: 32px;
}
.form__item_el_email::placeholder {
  padding-left: 20px;
  padding-top: 15px;
}
.form__item_el_pub-date {
  margin-bottom: 32px;
}
.form__item_el_email {
  margin-bottom: 32px;
}

.form__button {
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
  font-family: Inter;

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;
}

.form__button:hover {
  opacity: 0, 7;
}

.form__item_el_terms {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
